<%- include('./partials/header') %>

  <body>
    <h1>Welcome to the Supers App!</h1>
    <img src="https://www.listchallenges.com/f/lists/af0fe4b1-d4b2-4106-9f47-a06476abeee5.jpg" alt="DC-Heroes">
    <br>
    <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71LHQ1o-3HL.jpg" alt="Marvel-Heroes">
    <br>
    <img src="https://wallpaperaccess.com/full/4446627.jpg" alt="some-popular-anime-characters1">
  </body>
</html>
