

<body>
  <h1>Characters</h1>
  <table id="List">
    <thead>
      <tr>
        <th>Character</th>
        <th>Age</th>
        <th>Power Level</th>
        <th>Quote</th>
        <th>Weapon</th>
      </tr>
    </thead>
   
	  
    </tbody>
  </table>
</body>
</html>