<%- include('../partials/header') %>



<body>
	<h2>Create New Character</h2>
	<form action="/characters" method="POST">
        <label>Character Name:</label>
                <input type="string" name="character">
        <label>Age:</label>
                <input type="number" name="age">
        <label>Power Level:</label>
                <input type="number" name="powerLevel">
        <label>Quote:</label>
                <input type="number" name="quote">
        <label>Weapon:</label>
                <input type="number" name="weapon">
                </form>
                </body>
            </html>