<%- include('../partials/header') %>



<body>
	<h2>Create New Character</h2>
	<form id="new-form" action="/supers" method="POST">
        <label>Character Name:</label>
                <input type="string" name="character">
        <label>Age:</label>
                <input type="number" name="age">
        <label>Power Level:</label>
                <input type="number" name="powerLevel">
        <label>Weapon:</label>
                <input type="string" name="weapon">
                <input type="submit" value="Add Character">
                </form>
                </body>
            </html>